{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {% if product.imageFilename %}
        <img src="{{ asset('uploads/products/' ~ product.imageFilename) }}" alt="{{ product.title }}" width="250" loading="lazy">
    {% endif %}

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_index') }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
