{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block body %}
    <h1>{{ title }}</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <th>{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
